<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Questing Heroes - Item page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Items</h1>
<ul>

</ul>

<li th:each="i:${items}">
    <a th:text="${i.getName()} + ' (strength: ' + ${i.getStrength()} + ', defense: ' + ${i.getDefense()} + ')'">i</a>
</li>



<form method="get" action="/">
    <button>Back</button>
</form>

<form method="post" action="/items">
    <input type="text" name="itemName" placeholder="Name your item: " required>
    <input type="number" name="itemStrength" placeholder="Strength attribute" required>
    <input type="number" name="itemDefense" placeholder="Defense attribute" required>
    <button>Add Item</button>
    <br>
</form>
</body>
</html>
