<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Questing Heroes - Item page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Items</h1>
<ul>

</ul>


<form method="post" action="/bought">
<table><td>
    <tr th:each="item: ${items}">
    <td><input type="radio" name="itemChoice"
            th:text="${item.getName()} + '(strength:' + ${item.getStrength} +', defense:' + ${item.getDefense}+')'"
            th:value="${item.getId()}"></td>
    </tr>
</table>
    <select name="heroChoice">
    <option th:each="hero:${heroes}"
            th:value="${hero.getId()}"
            th:text="${hero.getName()}" />
         <input type = "submit" label = "buy"></input>


</select>
</form>


<form method="get" action="/">
    <button>Back</button>
</form>

<form method="post" action="/items">
    <input type="text" name="itemName" placeholder="Name your item: " required>
    <input type="number" name="itemStrength" placeholder="Strength attribute" required>
    <input type="number" name="itemDefense" placeholder="Defense attribute" required>
    <button>Add Item</button>
    <br>
</form>
</body>
</html>
