<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Questing Heroes - Quests Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h2>Update hero</h2>
<br>
<h2 th:text="${hero.name}">name</h2>
<h3 th:text="${hero.status}">status</h3>
<span th:text="'Level: ' + ${hero.level}">level</span><br>
<span th:text="'Health: ' + ${hero.health}">health</span><br>
<span th:text="'Gold: ' + ${hero.gold}">gold</span><br>

<h1>Items in shop:</h1>
<ul>
    <li th:each="equip:${items}">
        <a th:href="@{hero/{item}(item=${equip.name})}" th:text="${equip.name} + ': strength: ' + ${equip.strength} + ', defence: ' + ${equip.defense}">item</a>
    </li>
</ul>

<form method="GET" action="/">
    <button type="submit">Back</button>
</form>

</body>
</html>
