<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Questing Heroes - Quests Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h2 style="text-align: center">Update hero</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-first">
            <h2 th:text="${hero.name}">name</h2>
            <h3 th:text="${hero.status}">status</h3>
            <span th:text="'Level: ' + ${hero.level}">level</span><br>
            <span th:text="'Health: ' + ${hero.health}">health</span><br>
            <span th:text="'Gold: ' + ${hero.gold}">gold</span><br><br><br>
        </div>
        <div class="col-second">
            <li th:each="item : ${items}">
                <span th:text="'Name: ' + ${item.name} + ' Defense: ' + ${item.defense} + ' Strength: ' + ${item.strength}">item</span>
            </li>
            <br><br>
        </div>
        </div>
    <div class="row">
        <form th:if="${hero.gold > 500}" method="POST" action="/shop/${hero.name}">
            <button type="submit">Update shield</button>
        </form>
        <br><br><br>
        <form th:if="${hero.gold >= 200}" method="POST" action="/shop/${hero.name}">
            <button type="submit">Update sword</button>
        </form>
        <br><br><br>
        <form th:if="${hero.gold >= 400}" method="POST" action="/shop/${hero.name}">
            <button type="submit">Update armor</button>
        </form><br><br>
        <span th:if="${hero.gold < 200}">Sorry, cannot update anything!</span>
    </div>
    <div class="col">
        <form method="GET" action="/">
            <button type="submit">Back to start</button>
        </form>
    </div>
    <div class="row">
        <img src="https://mcdn.wallpapersafari.com/medium/40/27/U8VsiK.jpg"  class="rounded float-end" alt="">
    </div>
</div>
</body>
</html>
